* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;

}
body {
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: white;
    font-size: 50px;
    transition: all 1s ease;
    padding-top: 10px;
}

h1:hover{
    transform:scale(1.25);
}

.jacobs-first{
    margin-left: 40px;
    margin-top: 20px;
}

h2{
    color: blue;
    transition: all 1s ease;
    padding-bottom: 10px;
}

h2:hover{
    transform:scale(1.5);
}

h3{
    color: white;
}

h3:hover{
    color: yellow;
    cursor: pointer;
}

.logo {
    height: 300px;
}

.logo:hover{
    cursor: pointer;
}

.container {
    height: 100vh;
    width:100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center
}

.image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 500px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.form input {
    height: 2em;
}

input {
    font-size: 1em;
    background-color: rgb(7,114,94));
    color: rgb(7,114,94);
    border: 0;
    text-align: center;
    -webkit-animation: fadein 3s;
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

input:focus {
    color: white;
    background-color: rgb(64,224,208);
    outline: none;
}

input::placeholder{
    color: rgb(7,114,94)
}

input[type=submit] {
    background-color: rgb(7,114,94);
    color: white;
}

input[type=submit]:hover{
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0px 0px 30px 0px rgba(44, 179, 45, 0.67);

}

/*Home Screen Stuff!!!*/

.home-nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.logo-small{
    height: 8vh;
}


.games{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.pong-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.breakout-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.pong-gif {
    width:400px;
    height: 300px;
}

.breakout-gif{
    width:400px;
    height: 300px;
}

.first-pong{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-breakout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-out{
    color: black;
}

.log-out-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
